/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 3px;
  background: #fff;
  margin-inline: 20px;
  border: 0;
  padding: 2px;
}

.country {
  background-color: #fff;
  width: 80%;
  margin: 15px auto;
  border: 10px solid #4491db;
  padding: 10px;
}
